body {
    background-image: url(img/background.png);
    background-size: cover;
    background-attachment: fixed;

}

.ul-icons {
    font-size: 30px;
    color: black;
    list-style: none;
    text-decoration: none;
}

.icons {
    padding: 13px;
    font-size: 30px;
    width: 90px;

}

li {
    color: rgb(66, 103, 178);
}

.logo {
    position: absolute;
    left: 200px;
    animation: mianimacion 10s ease;
    -webkit-animation: mianimacion 10s ease;
}


.arrow {
    position: absolute;
    top: 635px;
    right: 666px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;

}

.h1 h1 {
    position: absolute;
    left: 1000px;
    top: 20px;
    color: white;
}

/**ANIMACIONES**/
@keyframes mianimacion {
    0% {
        transform: scale(.5) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(.5) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }


}

@-webkit-keyframes mianimacion {
    0% {
        transform: scale(.5) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(.5) rotate(360deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }


}